---
Checks:          '
  bugprone-*,
  concurrency-*,
  clang-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -clang-analyzer-*,
  -cppcoreguidelines-special-member-functions,
  -hicpp-special-member-functions,
  -cppcoreguidelines-avoid-c-arrays,
  -hicpp-avoid-c-arrays,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-use-default-member-init,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -hicpp-use-auto,
  -hicpp-use-emplace,
  -hicpp-use-equals-default,
  -hicpp-use-nullptr,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  -performance-no-int-to-ptr,
  -readability-convert-member-functions-to-static,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-redundant-member-init'
WarningsAsErrors: ''
HeaderFilterRegex: '.*,-DirectX*,-concurrent_queue.h,-ode*,-*SDL2*,-*thirdparty*'
FormatStyle:     none
